In [35]:
import pandas as pd
import os
import re
from dotenv import load_dotenv, find_dotenv

In [36]:
# Carrega as variáveis de ambiente
load_dotenv(find_dotenv())

# Configuração dos arquivos
ARQUIVO_TRANSFERENCIAS_RAW = os.getenv("ARQUIVO_TRANSFERENCIAS_RAW")                  # CSV com as transferências extraídas
ARQUIVO_BRASILEIRAO_RAW = os.getenv("ARQUIVO_BRASILEIRAO_RAW")                        # CSV com a classificação do brasileiro extraídas
ARQUIVO_CLUBES_RAW = os.getenv("ARQUIVO_CLUBES_RAW")                                  # CSV com os clubes extraídos
ARQUIVO_TRANSFERENCIAS_PROCESSED = os.getenv("ARQUIVO_TRANSFERENCIAS_PROCESSED")      # CSV com as transferências tratadas
ARQUIVO_BRASILEIRAO_PROCESSED = os.getenv("ARQUIVO_BRASILEIRAO_PROCESSED")            # CSV com a classificação do brasileiro extraídas
ARQUIVO_CLUBES_PROCESSED = os.getenv("ARQUIVO_CLUBES_PROCESSED")                      # CSV com os clubes extraídos

In [37]:
# Carregar o CSV
dftr = pd.read_csv(ARQUIVO_TRANSFERENCIAS_RAW, sep=";")

# Exibir as primeiras linhas do DataFrame
print(dftr.head())

# Exibir as últimas linhas do DataFrame
print(dftr.tail())

# Exibir as informações do DataFrama
dftr.info()

  Temporada  Clube_ID     Tipo     Player Origem_Destino   Transfer Sum
0     14/15         5    Saída      Abuda   Aparecidense  free transfer
1     14/15        10    Saída     Acácio   Portimonense  loan transfer
2     14/15         6  Entrada   Adailton        FC Sion  free transfer
3     14/15         6    Saída   Adailton        Chicago  free transfer
4     14/15         1  Entrada  Adalberto     América-RN  free transfer
      Temporada  Clube_ID     Tipo          Player Origem_Destino Transfer Sum
27899     25/26        14  Entrada       Zé Ivaldo         Santos  End of loan
27900     25/26        31    Saída       Zé Ivaldo       Cruzeiro  End of loan
27901     25/26        24    Saída         Zé Neto     Caravaggio  End of loan
27902     25/26        31    Saída  Álvaro Barreal     Cincinnati  End of loan
27903     25/26        23    Saída            Ênio       Amazonas  End of loan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27904 entries, 0 to 27903
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temporada       27904 non-null  object
 1   Clube_ID        27904 non-null  int64
 2   Tipo            27904 non-null  object
 3   Player          27904 non-null  object
 4   Origem_Destino  27904 non-null  object
 5   Transfer Sum    27904 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.3+ MB

In [38]:
# Carregar o CSV
dftp = pd.read_csv(ARQUIVO_TRANSFERENCIAS_PROCESSED, sep=";")

# Exibir as primeiras linhas do DataFrame
print(dftp.head())

# Exibir as últimas linhas do DataFrame
print(dftp.tail())

# Exibir as informações do DataFrama
dftp.info()

   ID  Clube_ID     Tipo Origem_Destino  Valor Empréstimo   Ano
0   1         5    Saída   Aparecidense    0.0        Não  2015
1   2        10    Saída   Portimonense    0.0        Sim  2015
2   3         6  Entrada        FC Sion    0.0        Não  2015
3   4         6    Saída        Chicago    0.0        Não  2015
4   5         1  Entrada     América-RN    0.0        Não  2015
          ID  Clube_ID     Tipo Origem_Destino  Valor Empréstimo   Ano
27899  27900        14  Entrada         Santos    0.0        Sim  2026
27900  27901        31    Saída       Cruzeiro    0.0        Sim  2026
27901  27902        24    Saída     Caravaggio    0.0        Sim  2026
27902  27903        31    Saída     Cincinnati    0.0        Sim  2026
27903  27904        23    Saída       Amazonas    0.0        Sim  2026
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27904 entries, 0 to 27903
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              27904 non-null  int64
 1   Clube_ID        27904 non-null  int64
 2   Tipo            27904 non-null  object
 3   Origem_Destino  27904 non-null  object
 4   Valor           27904 non-null  float64
 5   Empréstimo      27904 non-null  object
 6   Ano             27904 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.5+ MB

In [39]:
# Carregar o CSV
dfbr = pd.read_csv(ARQUIVO_BRASILEIRAO_RAW, sep=";")

# Exibir as primeiras linhas do DataFrame
print(dfbr.head())

# Exibir as últimas linhas do DataFrame
print(dfbr.tail())

# Exibir as informações do DataFrama
dfbr.info()

# Exibir Clubes Únicos
dfbr['Equipevde'].unique()

   Pos       Equipevde Pts   J   V   E   D  GP  GC   SG   Ano
0    1  Corinthians(C)  81  38  24   9   5  71  31  +40  2015
1   20       Joinville  31  38   7  10  21  26  48  −22  2015
2   19           Goiás  38  38  10   8  20  39  49  −10  2015
3   18   Vasco da Gama  41  38  10  11  17  28  54  −26  2015
4   17            Avaí  42  38  11   9  18  38  60  −22  2015
     Pos            Equipevde Pts   J   V   E   D  GP  GC   SG   Ano
195    2            Palmeiras  73  38  22   7   9  60  33  +27  2024
196    1          Botafogo(C)  79  38  23  10   5  59  29  +30  2024
197   19  Atlético Goianiense  30  38   7   9  22  29  58  −29  2024
198    9             Cruzeiro  52  38  14  10  14  43  41   +2  2024
199   20               Cuiabá  30  38   6  12  20  29  49  −20  2024
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pos        200 non-null    int64
 1   Equipevde  200 non-null    object
 2   Pts        200 non-null    object
 3   J          200 non-null    int64
 4   V          200 non-null    int64
 5   E          200 non-null    int64
 6   D          200 non-null    int64
 7   GP         200 non-null    int64
 8   GC         200 non-null    int64
 9   SG         200 non-null    object
 10  Ano        200 non-null    int64
dtypes: int64(8), object(3)
memory usage: 17.3+ KB

array(['Corinthians(C)', 'Joinville', 'Goiás', 'Vasco da Gama', 'Avaí',
       'Figueirense', 'Chapecoense', 'Fluminense', 'Flamengo',
       'Ponte Preta', 'Coritiba', 'Palmeiras', 'Cruzeiro', 'Santos',
       'Sport', 'Internacional', 'São Paulo', 'Grêmio',
       'Atlético Mineiro', 'Atlético Paranaense', 'Vitória',
       'América Mineiro', 'Santa Cruz', 'Botafogo', 'Corinthians',
       'Palmeiras(C)', 'Atlético Goianiense', 'Bahia', 'Ceará', 'Paraná',
       'CSA', 'Fortaleza', 'Flamengo(C)', 'Athletico Paranaense',
       'Red Bull Bragantino', 'Juventude', 'Cuiabá', 'Criciúma',
       'Botafogo(C)'], dtype=object)

In [40]:
# Carregar o CSV
dfbp = pd.read_csv(ARQUIVO_BRASILEIRAO_PROCESSED, sep=";")

# Exibir as primeiras linhas do DataFrame
print(dfbp.head())

# Exibir as últimas linhas do DataFrame
print(dfbp.tail())

# Exibir as informações do DataFrama
dfbp.info()

# Exibir Clubes Únicos
dfbp['Clube'].unique()

   ID  Posição          Clube  Pontos  Jogos  Vitórias  Empates  Derrotas  GP  \
0   1        1    Corinthians      81     38        24        9         5  71
1   2       20      Joinville      31     38         7       10        21  26
2   3       19          Goiás      38     38        10        8        20  39
3   4       18  Vasco da Gama      41     38        10       11        17  28
4   5       17           Avaí      42     38        11        9        18  38

   GC  SG   Ano
0  31  40  2015
1  48 -22  2015
2  49 -10  2015
3  54 -26  2015
4  60 -22  2015
      ID  Posição                Clube  Pontos  Jogos  Vitórias  Empates  \
195  196        2            Palmeiras      73     38        22        7
196  197        1             Botafogo      79     38        23       10
197  198       19  Atlético Goianiense      30     38         7        9
198  199        9             Cruzeiro      52     38        14       10
199  200       20               Cuiabá      30     38         6       12

     Derrotas  GP  GC  SG   Ano
195         9  60  33  27  2024
196         5  59  29  30  2024
197        22  29  58 -29  2024
198        14  43  41   2  2024
199        20  29  49 -20  2024
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        200 non-null    int64
 1   Posição   200 non-null    int64
 2   Clube     200 non-null    object
 3   Pontos    200 non-null    int64
 4   Jogos     200 non-null    int64
 5   Vitórias  200 non-null    int64
 6   Empates   200 non-null    int64
 7   Derrotas  200 non-null    int64
 8   GP        200 non-null    int64
 9   GC        200 non-null    int64
 10  SG        200 non-null    int64
 11  Ano       200 non-null    int64
dtypes: int64(11), object(1)
memory usage: 18.9+ KB

array(['Corinthians', 'Joinville', 'Goiás', 'Vasco da Gama', 'Avaí',
       'Figueirense', 'Chapecoense', 'Fluminense', 'Flamengo',
       'Ponte Preta', 'Coritiba', 'Palmeiras', 'Cruzeiro', 'Santos',
       'Sport', 'Internacional', 'São Paulo', 'Grêmio',
       'Atlético Mineiro', 'Atlético Paranaense', 'Vitória',
       'América Mineiro', 'Santa Cruz', 'Botafogo', 'Atlético Goianiense',
       'Bahia', 'Ceará', 'Paraná', 'CSA', 'Fortaleza',
       'Athletico Paranaense', 'Red Bull Bragantino', 'Juventude',
       'Cuiabá', 'Criciúma'], dtype=object)

In [41]:
# Carregar o CSV
dfcr = pd.read_csv(ARQUIVO_CLUBES_RAW, sep=";")

# Exibir as primeiras linhas do DataFrame
print(dfcr.head())

# Exibir as últimas linhas do DataFrame
print(dfcr.tail())

# Exibir as informações do DataFrama
dfcr.info()

   ID          Nome_Oficial         Nome_Transfermarkt  Código_Transfermarkt  \
0   1       América Mineiro  america-futebol-clube-mg-                  2863
1   2   Atlético Goianiense  atletico-clube-goianiense                 15172
2   3      Atlético Mineiro     clube-atletico-mineiro                   330
3   4  Athletico Paranaense  club-athletico-paranaense                   679
4   5                  Avaí                    avai-fc                  2035

   Nome_Sofascore  Código_Sofascore
0             NaN               NaN
1             NaN               NaN
2             NaN               NaN
3             NaN               NaN
4             NaN               NaN
    ID   Nome_Oficial              Nome_Transfermarkt  Código_Transfermarkt  \
30  31         Santos                       fc-santos                   221
31  32      São Paulo         sao-paulo-futebol-clube                   585
32  33   Sport Recife            sport-club-do-recife                  8718
33  34  Vasco da Gama  clube-de-regatas-vasco-da-gama                   978
34  35        Vitória           esporte-clube-vitoria                  2125

    Nome_Sofascore  Código_Sofascore
30             NaN               NaN
31             NaN               NaN
32             NaN               NaN
33             NaN               NaN
34             NaN               NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    35 non-null     int64
 1   Nome_Oficial          35 non-null     object
 2   Nome_Transfermarkt    35 non-null     object
 3   Código_Transfermarkt  35 non-null     int64
 4   Nome_Sofascore        0 non-null      float64
 5   Código_Sofascore      0 non-null      float64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.8+ KB

In [42]:
# Carregar o CSV
dfcp = pd.read_csv(ARQUIVO_CLUBES_PROCESSED, sep=";")

# Exibir as primeiras linhas do DataFrame
print(dfcp.head())

# Exibir as últimas linhas do DataFrame
print(dfcp.tail())

# Exibir as informações do DataFrama
dfcp.info()

   ID          Nome Oficial  Participacoes_SerieA  Rebaixamentos  \
0   1       América Mineiro                     5              3
1   2   Atlético Goianiense                     5              3
2   3      Atlético Mineiro                    10              0
3   4  Athletico Paranaense                     6              1
4   5                  Avaí                     4              4

   Media_Pontos  Aproveitamento(%)  Ultimo_Ano_SerieA  Media_Pontos_Ult3anos  \
0         39.60              34.74             2023.0                  43.33
1         41.00              35.96             2024.0                  39.67
2         55.30              48.51             2024.0                  57.00
3         53.33              46.78             2024.0                  52.00
4         35.00              30.70             2022.0                  32.67

   Posicao_Media_Ult3anos  Compras_Total_R$  ...  Pos_11  Pos_12  Pos_13  \
0                   12.67               0.0  ...       0       0       0
1                   15.33               0.0  ...       0       0       1
2                    7.33               0.0  ...       0       1       1
3                   10.33               0.0  ...       0       0       0
4                   19.00               0.0  ...       0       0       0

   Pos_14  Pos_15  Pos_16  Pos_17  Pos_18  Pos_19  Pos_20
0       0       0       0       1       0       0       2
1       0       0       0       0       1       1       1
2       0       0       0       0       0       0       0
3       1       0       0       1       0       0       0
4       0       0       0       1       1       1       1

[5 rows x 33 columns]
    ID   Nome Oficial  Participacoes_SerieA  Rebaixamentos  Media_Pontos  \
30  31         Santos                     9              1         56.67
31  32      São Paulo                    10              0         57.00
32  33   Sport Recife                     0              0          0.00
33  34  Vasco da Gama                     7              2         46.43
34  35        Vitória                     4              1         43.00

    Aproveitamento(%)  Ultimo_Ano_SerieA  Media_Pontos_Ult3anos  \
30              49.71             2023.0                  46.67
31              50.00             2024.0                  55.33
32               0.00                NaN                   0.00
33              40.73             2024.0                  45.33
34              37.72             2024.0                  42.33

    Posicao_Media_Ult3anos  Compras_Total_R$  ...  Pos_11  Pos_12  Pos_13  \
30                   13.00               0.0  ...       0       1       0
31                    8.67               0.0  ...       1       0       2
32                     NaN               0.0  ...       0       0       0
33                   14.00               0.0  ...       0       1       0
34                   15.33               0.0  ...       1       0       0

    Pos_14  Pos_15  Pos_16  Pos_17  Pos_18  Pos_19  Pos_20
30       0       0       0       1       0       0       0
31       0       0       0       0       0       0       0
32       0       0       0       0       0       0       0
33       0       1       1       1       1       0       0
34       0       0       2       0       0       1       0

[5 rows x 33 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            35 non-null     int64
 1   Nome Oficial                  35 non-null     object
 2   Participacoes_SerieA          35 non-null     int64
 3   Rebaixamentos                 35 non-null     int64
 4   Media_Pontos                  35 non-null     float64
 5   Aproveitamento(%)             35 non-null     float64
 6   Ultimo_Ano_SerieA             33 non-null     float64
 7   Media_Pontos_Ult3anos         35 non-null     float64
 8   Posicao_Media_Ult3anos        33 non-null     float64
 9   Compras_Total_R$              35 non-null     float64
 10  Vendas_Total_R$               35 non-null     float64
 11  Saldo_Transferencias_R$       35 non-null     float64
 12  Participacoes_Internacionais  35 non-null     int64
 13  Pos_1                         35 non-null     int64
 14  Pos_2                         35 non-null     int64
 15  Pos_3                         35 non-null     int64
 16  Pos_4                         35 non-null     int64
 17  Pos_5                         35 non-null     int64
 18  Pos_6                         35 non-null     int64
 19  Pos_7                         35 non-null     int64
 20  Pos_8                         35 non-null     int64
 21  Pos_9                         35 non-null     int64
 22  Pos_10                        35 non-null     int64
 23  Pos_11                        35 non-null     int64
 24  Pos_12                        35 non-null     int64
 25  Pos_13                        35 non-null     int64
 26  Pos_14                        35 non-null     int64
 27  Pos_15                        35 non-null     int64
 28  Pos_16                        35 non-null     int64
 29  Pos_17                        35 non-null     int64
 30  Pos_18                        35 non-null     int64
 31  Pos_19                        35 non-null     int64
 32  Pos_20                        35 non-null     int64
dtypes: float64(8), int64(24), object(1)
memory usage: 9.2+ KB